.ui-button {
  position: relative;
}

.ui-button--disabled {
  background-color: #CCC;
  color: rgb(104, 104, 104);
  pointer-events: none;
}

.loading-svg {
  position: absolute;
  left: 50%;
  transform:  translateX(-50%);
}