.page-data {
  overflow: auto;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.manager-container {
  font-size: 18px;
}
.page-content {
  color: #676767;
  padding: 30px 25px 0;
}

.manager-popup {
  color: #1E3A8A;
  padding: 0 10px;
}

.popup-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.popup-item div {
  width: 140px;
}

.cancel-btn {
  padding: 10px;
  width: 92%;
  margin-top: 5px;
  cursor: pointer;
  font-size: 18px;
}
.manager-item {
  padding-top: 10px;
  display: flex;
  border-top: 1px solid #6d6c6c;
  justify-content: space-between;
  align-items: center;
}
.manager-data {
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.manager-icon {
  font-size: 20px;
}
.manager-icon:first-child {
  color: var(--color-orange-medium);
}
.manager-icon:last-child {
  color: var(--color-red-medium);
}