.register-page {
    text-align: center;
    padding: 50px;
    background-color: #f3f5f0;
    height: 100%;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  /* Media query para smartphones */
  @media only screen and (max-width: 600px) {
    .login-page {
      padding: 20px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    input,
    button {
      width: 100%;
      max-width: 300px;
    }
  }