body {
    background-color: #f3f5f0;
}

.register-page {
    text-align: center;
    padding: 50px;
    background-color: #f3f5f0;
    height: 100%;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input,
  select {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para os campos Perfil e Tipo de Insumo */
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  select {
    cursor: pointer;
  }
  
  /* Estilizando o campo Perfil */
  .select-container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .select-container::after {
    content: '\f078'; /* código do ícone de seta para baixo */
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* garante que o ícone não interfere com a seleção */
    color: #888;
  }
  
  select {
    appearance: none; /* remove a aparência padrão do dropdown */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: calc(100% - 20px); /* ajusta a largura para acomodar o ícone */
    background-color: transparent; /* torna o dropdown transparente */
  }
  
  .placeholder-option {
    display: none; /* oculta a primeira opção padrão */
  }
  
  .placeholder-option:before {
    content: 'Perfil'; /* texto do placeholder */
    color: #888;
  }
  
  /* Media query para smartphones */
  @media only screen and (max-width: 600px) {
    .register-page {
      padding: 20px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    input,
    select,
    button {
      max-width: 300px;
    }
  }
  